body {
	margin: auto;
	width: 80%;
	font-family: tahoma;
}

body h1{
	font-family: sans-serif;
	color: white;
	background-color: #2f4f4f;
	border-radius: 3px;
	text-align: left;
	text-indent: 5px;
}

hr {
	border-top: #9acd32;
    border-color: #9acd32;
	border-width: 3px;
	border-left: #9acd32;
}

p{
	text-align: justify;
}

footer{
	background-color: #2f4f4f;
	color: white
}

#logo{
	width: 30%;
}

.img_main{

	margin: auto;
	background-color: lightgray;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.footerblocks{
	display: flex;
    justify-content: center;
}

.footercontents{
	display: inline-block;
    margin: 20px 20px;
}	
